<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kp.optikjoyoabadi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".di.AppOverride"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OptikJoyoAbadi">
        <activity
            android:name=".ui.editprofile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transactionlist.TransactionListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.addresslist.AddressListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.addaddress.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.checkout.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.paymentdetail.PaymentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.productlist.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.productdetail.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.transactiondetail.TransactionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.loginsignup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.loginsignup.LoginActivity"
            android:exported="false" />
    </application>

</manifest>